:root{
  --color-white: #fffff;
  --color-grey: #33333;
}

*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit;}

body {
  background-color: aqua;
  background-image: url("/public/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p, li {
  font-size: clamp(17px, 4vw, 21px);
}

h1 {
  font-size: clamp(61px, 4vw, 78px);
  font-weight: 800;
  text-align: center;
  padding: 15px;
  color: goldenrod;
}

h2 {
  font-weight: 800;
}

.quiz-card, .quiz-result {
  background-color: rgba(255, 255, 255, 0.737);
  border-radius: 13px;
  padding: 40px;
  border: 5px solid goldenrod;
}

.quiz-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quiz-card ul li {
  padding: 10px;
}

.quiz-card ul li:hover {
  background-color: rgba(13, 124, 124, 0.5);

}

footer {
  text-align: center;
}